body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(
    135deg,             /* Forward slash direction */
    #000000 0%,         /* Vibrant violet */
    #000000 45%,        /* Extend violet to mid-left */
    #ff6a00 55%,        /* Black begins just after */
    #ff6a00 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}
header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: rgb(240,240,240);
}
h1{
    font-size: 20px;
    margin-bottom: 30px;
}
.share-button{
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: rgb(240,240,240);
}
.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 100%;
    height: 56px;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.title:hover{
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}
.title-share-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
}
.image-container{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
}
.icon{
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}